/hw2/starter-code/flights-small.csv
/hw2/submission/carriers.csv
/hw2/submission/flights-small.csv
/hw2/submission/hw2.db
/hw2/submission/months.csv
/hw2/submission/weekdays.csv
/hw6/flights_small/.part-00000-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00001-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00002-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00003-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00004-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00005-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00006-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00007-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00008-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00009-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00010-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00011-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00012-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00013-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00014-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00015-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00016-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00017-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00018-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00019-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00020-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00021-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00022-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00023-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00024-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00025-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00026-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00027-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00028-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00029-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00030-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00031-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/.part-00032-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet.crc
/hw6/flights_small/_SUCCESS
/hw6/flights_small/part-00000-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00001-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00002-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00003-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00004-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00005-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00006-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00007-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00008-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00009-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00010-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00011-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00012-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00013-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00014-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00015-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00016-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00017-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00018-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00019-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00020-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00021-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00022-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00023-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00024-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00025-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00026-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00027-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00028-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00029-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00030-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00031-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/flights_small/part-00032-6f03353f-dbc8-4bda-996e-bf8027de4fd2-c000.snappy.parquet
/hw6/output/._SUCCESS.crc
/hw6/output/.part-00000.crc
/hw6/output/_SUCCESS
/hw6/output/part-00000
/hw6/output2/._SUCCESS.crc
/hw6/output2/.part-00000.crc
/hw6/output2/_SUCCESS
/hw6/output2/part-00000
/hw6/output3/._SUCCESS.crc
/hw6/output3/.part-00000.crc
/hw6/output3/_SUCCESS
/hw6/output3/part-00000
/hw6/outputall/._SUCCESS.crc
/hw6/outputall/.part-00000.crc
/hw6/outputall/_SUCCESS
/hw6/outputall/part-00000
/hw6/outputall/q1/._SUCCESS.crc
/hw6/outputall/q1/.part-00000.crc
/hw6/outputall/q1/_SUCCESS
/hw6/outputall/q1/part-00000
/hw6/outputall/q2/._SUCCESS.crc
/hw6/outputall/q2/.part-00000.crc
/hw6/outputall/q2/_SUCCESS
/hw6/outputall/q2/part-00000
/hw6/outputall/q3/._SUCCESS.crc
/hw6/outputall/q3/.part-00000.crc
/hw6/outputall/q3/_SUCCESS
/hw6/outputall/q3/part-00000
/hw6/outputall/q4/._SUCCESS.crc
/hw6/outputall/q4/.part-00000.crc
/hw6/outputall/q4/_SUCCESS
/hw6/outputall/q4/part-00000
/hw6/outputall/q5/._SUCCESS.crc
/hw6/outputall/q5/.part-00000.crc
/hw6/outputall/q5/_SUCCESS
/hw6/outputall/q5/part-00000
/hw6/outputall/warmup/._SUCCESS.crc
/hw6/outputall/warmup/.part-00000.crc
/hw6/outputall/warmup/_SUCCESS
/hw6/outputall/warmup/part-00000
/hw6/outputall2/q1/._SUCCESS.crc
/hw6/outputall2/q1/.part-00000.crc
/hw6/outputall2/q1/_SUCCESS
/hw6/outputall2/q1/part-00000
/hw6/outputall2/q2/._SUCCESS.crc
/hw6/outputall2/q2/.part-00000.crc
/hw6/outputall2/q2/_SUCCESS
/hw6/outputall2/q2/part-00000
/hw6/outputall2/q3/._SUCCESS.crc
/hw6/outputall2/q3/.part-00000.crc
/hw6/outputall2/q3/_SUCCESS
/hw6/outputall2/q3/part-00000
/hw6/outputall2/q4/._SUCCESS.crc
/hw6/outputall2/q4/.part-00000.crc
/hw6/outputall2/q4/_SUCCESS
/hw6/outputall2/q4/part-00000
/hw6/outputall2/q5/._SUCCESS.crc
/hw6/outputall2/q5/.part-00000.crc
/hw6/outputall2/q5/_SUCCESS
/hw6/outputall2/q5/part-00000
/hw6/outputall2/warmup/._SUCCESS.crc
/hw6/outputall2/warmup/.part-00000.crc
/hw6/outputall2/warmup/_SUCCESS
/hw6/outputall2/warmup/part-00000
/hw6/outputall3/q1/._SUCCESS.crc
/hw6/outputall3/q1/.part-00000.crc
/hw6/outputall3/q1/_SUCCESS
/hw6/outputall3/q1/part-00000
/hw6/outputall3/q2/._SUCCESS.crc
/hw6/outputall3/q2/.part-00000.crc
/hw6/outputall3/q2/_SUCCESS
/hw6/outputall3/q2/part-00000
/hw6/outputall3/q3/._SUCCESS.crc
/hw6/outputall3/q3/.part-00000.crc
/hw6/outputall3/q3/_SUCCESS
/hw6/outputall3/q3/part-00000
/hw6/outputall3/q4/._SUCCESS.crc
/hw6/outputall3/q4/.part-00000.crc
/hw6/outputall3/q4/_SUCCESS
/hw6/outputall3/q4/part-00000
/hw6/outputall3/q5/._SUCCESS.crc
/hw6/outputall3/q5/.part-00000.crc
/hw6/outputall3/q5/_SUCCESS
/hw6/outputall3/q5/part-00000
/hw6/outputall4/q1/._SUCCESS.crc
/hw6/outputall4/q1/.part-00000.crc
/hw6/outputall4/q1/_SUCCESS
/hw6/outputall4/q1/part-00000
/hw6/outputall4/q2/._SUCCESS.crc
/hw6/outputall4/q2/.part-00000.crc
/hw6/outputall4/q2/_SUCCESS
/hw6/outputall4/q2/part-00000
/hw6/outputall4/q3/._SUCCESS.crc
/hw6/outputall4/q3/.part-00000.crc
/hw6/outputall4/q3/_SUCCESS
/hw6/outputall4/q3/part-00000
/hw6/outputall4/q4/._SUCCESS.crc
/hw6/outputall4/q4/.part-00000.crc
/hw6/outputall4/q4/_SUCCESS
/hw6/outputall4/q4/part-00000
/hw6/outputall4/q5/._SUCCESS.crc
/hw6/outputall4/q5/.part-00000.crc
/hw6/outputall4/q5/_SUCCESS
/hw6/outputall4/q5/part-00000
/hw6/outputall5/q1/._SUCCESS.crc
/hw6/outputall5/q1/.part-00000.crc
/hw6/outputall5/q1/_SUCCESS
/hw6/outputall5/q1/part-00000
/hw6/outputall5/q2/._SUCCESS.crc
/hw6/outputall5/q2/.part-00000.crc
/hw6/outputall5/q2/_SUCCESS
/hw6/outputall5/q2/part-00000
/hw6/outputall5/q3/._SUCCESS.crc
/hw6/outputall5/q3/.part-00000.crc
/hw6/outputall5/q3/_SUCCESS
/hw6/outputall5/q3/part-00000
/hw6/outputall5/q4/._SUCCESS.crc
/hw6/outputall5/q4/.part-00000.crc
/hw6/outputall5/q4/_SUCCESS
/hw6/outputall5/q4/part-00000
/hw6/outputall5/q5/._SUCCESS.crc
/hw6/outputall5/q5/.part-00000.crc
/hw6/outputall5/q5/_SUCCESS
/hw6/outputall5/q5/part-00000
/hw6/outputall6/q1/._SUCCESS.crc
/hw6/outputall6/q1/.part-00000.crc
/hw6/outputall6/q1/_SUCCESS
/hw6/outputall6/q1/part-00000
/hw6/outputall6/q2/._SUCCESS.crc
/hw6/outputall6/q2/.part-00000.crc
/hw6/outputall6/q2/_SUCCESS
/hw6/outputall6/q2/part-00000
/hw6/outputall6/q3/._SUCCESS.crc
/hw6/outputall6/q3/.part-00000.crc
/hw6/outputall6/q3/_SUCCESS
/hw6/outputall6/q3/part-00000
/hw6/outputall6/q4/._SUCCESS.crc
/hw6/outputall6/q4/.part-00000.crc
/hw6/outputall6/q4/_SUCCESS
/hw6/outputall6/q4/part-00000
/hw6/outputall6/q5/._SUCCESS.crc
/hw6/outputall6/q5/.part-00000.crc
/hw6/outputall6/q5/_SUCCESS
/hw6/outputall6/q5/part-00000
/hw6/outputall7/q1/._SUCCESS.crc
/hw6/outputall7/q1/.part-00000.crc
/hw6/outputall7/q1/_SUCCESS
/hw6/outputall7/q1/part-00000
/hw6/outputall7/q2/._SUCCESS.crc
/hw6/outputall7/q2/.part-00000.crc
/hw6/outputall7/q2/_SUCCESS
/hw6/outputall7/q2/part-00000
/hw6/outputall7/q3/._SUCCESS.crc
/hw6/outputall7/q3/.part-00000.crc
/hw6/outputall7/q3/_SUCCESS
/hw6/outputall7/q3/part-00000
/hw6/outputall7/q4/._SUCCESS.crc
/hw6/outputall7/q4/.part-00000.crc
/hw6/outputall7/q4/_SUCCESS
/hw6/outputall7/q4/part-00000
/hw6/outputall7/q5/._SUCCESS.crc
/hw6/outputall7/q5/.part-00000.crc
/hw6/outputall7/q5/_SUCCESS
/hw6/outputall7/q5/part-00000
/hw6/outputall71/q1/._SUCCESS.crc
/hw6/outputall71/q1/.part-00000.crc
/hw6/outputall71/q1/_SUCCESS
/hw6/outputall71/q1/part-00000
/hw6/outputall71/q2/._SUCCESS.crc
/hw6/outputall71/q2/.part-00000.crc
/hw6/outputall71/q2/_SUCCESS
/hw6/outputall71/q2/part-00000
/hw6/outputall71/q3/._SUCCESS.crc
/hw6/outputall71/q3/.part-00000.crc
/hw6/outputall71/q3/_SUCCESS
/hw6/outputall71/q3/part-00000
/hw6/outputall71/q4/._SUCCESS.crc
/hw6/outputall71/q4/.part-00000.crc
/hw6/outputall71/q4/_SUCCESS
/hw6/outputall71/q4/part-00000
/hw6/outputall71/q5/._SUCCESS.crc
/hw6/outputall71/q5/.part-00000.crc
/hw6/outputall71/q5/_SUCCESS
/hw6/outputall71/q5/part-00000
/hw6/outputq1a1/._SUCCESS.crc
/hw6/outputq1a1/.part-00000.crc
/hw6/outputq1a1/_SUCCESS
/hw6/outputq1a1/part-00000
/hw6/outputq2a1/._SUCCESS.crc
/hw6/outputq2a1/.part-00000.crc
/hw6/outputq2a1/_SUCCESS
/hw6/outputq2a1/part-00000
/hw6/outputq2a10/._SUCCESS.crc
/hw6/outputq2a10/.part-00000.crc
/hw6/outputq2a10/_SUCCESS
/hw6/outputq2a10/part-00000
/hw6/outputq2a2/._SUCCESS.crc
/hw6/outputq2a2/.part-00000.crc
/hw6/outputq2a2/_SUCCESS
/hw6/outputq2a2/part-00000
/hw6/outputq2a3/._SUCCESS.crc
/hw6/outputq2a3/.part-00000.crc
/hw6/outputq2a3/_SUCCESS
/hw6/outputq2a3/part-00000
/hw6/outputq2a4/._SUCCESS.crc
/hw6/outputq2a4/.part-00000.crc
/hw6/outputq2a4/_SUCCESS
/hw6/outputq2a4/part-00000
/hw6/outputq2a5/._SUCCESS.crc
/hw6/outputq2a5/.part-00000.crc
/hw6/outputq2a5/_SUCCESS
/hw6/outputq2a5/part-00000
/hw6/outputq2a6/._SUCCESS.crc
/hw6/outputq2a6/.part-00000.crc
/hw6/outputq2a6/_SUCCESS
/hw6/outputq2a6/part-00000
/hw6/outputq2a7/._SUCCESS.crc
/hw6/outputq2a7/.part-00000.crc
/hw6/outputq2a7/_SUCCESS
/hw6/outputq2a7/part-00000
/hw6/outputq2a8/._SUCCESS.crc
/hw6/outputq2a8/.part-00000.crc
/hw6/outputq2a8/_SUCCESS
/hw6/outputq2a8/part-00000
/hw6/outputq2a9/._SUCCESS.crc
/hw6/outputq2a9/.part-00000.crc
/hw6/outputq2a9/_SUCCESS
/hw6/outputq2a9/part-00000
/hw6/outputq3a1/._SUCCESS.crc
/hw6/outputq3a1/.part-00000.crc
/hw6/outputq3a1/_SUCCESS
/hw6/outputq3a1/part-00000
/hw6/outputq3a2/._SUCCESS.crc
/hw6/outputq3a2/.part-00000.crc
/hw6/outputq3a2/_SUCCESS
/hw6/outputq3a2/part-00000
/hw6/outputq4a1/._SUCCESS.crc
/hw6/outputq4a1/.part-00000.crc
/hw6/outputq4a1/_SUCCESS
/hw6/outputq4a1/part-00000
/hw6/outputq4a2/._SUCCESS.crc
/hw6/outputq4a2/.part-00000.crc
/hw6/outputq4a2/_SUCCESS
/hw6/outputq4a2/part-00000
/hw6/outputq4a3/._SUCCESS.crc
/hw6/outputq4a3/.part-00000.crc
/hw6/outputq4a3/_SUCCESS
/hw6/outputq4a3/part-00000
/hw6/outputq4a4/._SUCCESS.crc
/hw6/outputq4a4/.part-00000.crc
/hw6/outputq4a4/_SUCCESS
/hw6/outputq4a4/part-00000
/hw6/outputq5a3/._SUCCESS.crc
/hw6/outputq5a3/.part-00000.crc
/hw6/outputq5a3/_SUCCESS
/hw6/outputq5a3/part-00000
/hw6/outputq5v/._SUCCESS.crc
/hw6/outputq5v/.part-00000.crc
/hw6/outputq5v/_SUCCESS
/hw6/outputq5v/part-00000
/hw6/outputq5v2/._SUCCESS.crc
/hw6/outputq5v2/.part-00000.crc
/hw6/outputq5v2/_SUCCESS
/hw6/outputq5v2/part-00000
/hw6/starter-code/.idea/misc.xml
/hw6/starter-code/.idea/modules.xml
/hw6/starter-code/.idea/starter-code.iml
/hw6/starter-code/.idea/workspace.xml
/hw6/starter-code/HW6$MyTupleComparator.class
/hw6/starter-code/HW6.class
/hw6/starter-code/HW6.jar
/hw8/starter-code/.idea/misc.xml
/hw8/starter-code/.idea/modules.xml
/hw8/starter-code/.idea/starter-code.iml
/hw8/starter-code/.idea/workspace.xml
/hw8/starter-code/output/FlightService.class
/hw8/starter-code/output/Grader$User.class
/hw8/starter-code/output/Grader.class
/hw8/starter-code/output/Query$Flight.class
/hw8/starter-code/output/Query$Itinerary.class
/hw8/starter-code/output/Query.class
/hw8/starter-code/output/out.jar
/hw8/starter-code/FlightService.class
/hw8/starter-code/Grader$User.class
/hw8/starter-code/Grader.class
/hw8/starter-code/Query$Flight.class
/hw8/starter-code/Query$Itinerary.class
/hw8/starter-code/Query.class
